<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>day08_02_servletContext</display-name>
  
  <context-param>
  	<param-name>encoding</param-name>
  	<param-value>UTF-8</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>ServletContextDemo1</servlet-name>
    <servlet-class>com.servletContext.ServletContextDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContextDemo2</servlet-name>
    <servlet-class>com.servletContext.ServletContextDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContextDemo3</servlet-name>
    <servlet-class>com.servletContext.ServletContextDemo3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>aaaa</servlet-name>
    <servlet-class>com.servletContext.aaaa</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContextDemo4</servlet-name>
    <servlet-class>com.servletContext.ServletContextDemo4</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletForwardDemo1</servlet-name>
    <servlet-class>com.servletContext.ServletForwardDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletForwardDemo2</servlet-name>
    <servlet-class>com.servletContext.ServletForwardDemo2</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>ServletContextDemo1</servlet-name>
    <url-pattern>/servlet/ServletContextDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo2</servlet-name>
    <url-pattern>/servlet/ServletContextDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo3</servlet-name>
    <url-pattern>/servlet/ServletContextDemo3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>aaaa</servlet-name>
    <url-pattern>/servlet/aaaa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo4</servlet-name>
    <url-pattern>/servlet/ServletContextDemo4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletForwardDemo1</servlet-name>
    <url-pattern>/servlet/ServletForwardDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletForwardDemo2</servlet-name>
    <url-pattern>/servlet/ServletForwardDemo2</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>